.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px;
   display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: lighter;
  z-index: 7; 
  box-shadow: none;
  transition: background-color 0.3s ease;
}


/* Logo styles inside the header */

.logo {
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align the logo towards the top */
  position: relative; /* For finer positioning */
  top: -25px; /* Adjust this value to move the logo up */
  left: -2.3%;
} 

.logo-image {
  width: 200px; /* Make the logo bigger */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Add a pointer cursor for better UX */
}

.nav-group {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;  
  top: -90px;  
  
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
  margin-right: 2px;
}

.nav-link:hover {
  color: #007BFF;
}

.consultation-btn {
  border: 2px solid white; /* White border */
  background-color: transparent;
  color: white; 
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-right: 40px;

}

.consultation-btn:hover {
  background-color: #444;
}




